$color-primary: #6f95c2;
$color-background: #f7fcff;
$color-additional: #282929;
$color-white: #fff;
$color-white-hover: #ffffff1f;
$color-text: #1f1f1f;

$color-primary-dot: #ffffff3e;
$color-primary-dot-hover: #ffffffa9;

$shadow: 0px 5px 20px -4px rgba(34, 60, 80, 0.2);
